body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-banner{
    background-color: black;
    color: white;
    padding: 05px 0 03px 0;
    text-align: center;
}
.top-banner.headingg{
    text-decoration-color: white;
    text-align: center;
}

.ppm-display{
    padding-top: 30px;
}

/* table, td, th {
    border: 1px solid brown;
    padding-top: 10px;
}
  
table {
    border-collapse: collapse;
    width: 30%;
}
  
th {
    height: 20px;
    text-decoration-color: brown;
}

td{
    text-align: center;
} */

.table1.table {
    border: 1px solid brown;
    border-collapse: collapse;
    width: 30%;
}

.table1.th {
    border: 1px solid brown;
    height: 20px;
    text-decoration-color: brown;
}

.table1.td{
    border: 1px solid brown;
    text-align: center;
}


